<app-navbar></app-navbar>
<section class="justify-content-center align-items-start mt-4 pt-1 " id="services">
  <div class="container-fluid">
    <!-- Content Row -->
    <div class="row mt-5 d-flex justify-content-center align-items-center">
      <div class="col-md-6 p-0 cards " routerLink="/components/incidencias">
        <div class="card border-primary btn bAzul" >
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col d-flex align-items-center  justify-content-center">
                <i class="bi bi-pen" style="color: #0D6EFD; font-size: 40px;"></i>
              </div>
              <div class="col d-flex align-items-center justify-content-center mt-2">
                <h1 class="text-info">Incidencias</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 cards">
        <div class="card border-primary btn bAzul" routerLink="/components/reservas-admin">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col d-flex align-items-center  justify-content-center">
                <i class="bi bi-alarm" style="color: #0D6EFD; font-size: 40px;"></i>
              </div>
              <div class="col d-flex align-items-center mt-2 justify-content-center">
                <h1 class="text-info">Reservas</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 cards">
        <div class="card border-primary btn bAzul"routerLink="/components/anuncios" >
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col d-flex align-items-center  justify-content-center">
                <i class="bi bi-chat-square-dots" style="color: #0D6EFD; font-size: 40px;"></i>
              </div>
              <div class="col mt-2 d-flex align-items-center justify-content-center">
                <h1 class="text-info">Anuncios</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 cards" routerLink="/components/users">
        <div class="card border-primary btn bAzul" >
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col d-flex align-items-center justify-content-center ">
                <i class="bi bi-people" style="color: #0D6EFD; font-size: 40px;"></i>
              </div>
              <div class="col mt-2 d-flex align-items-center justify-content-center" >
                <h1 class="text-info">Usuarios</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


