<div class="modal-header">
  <h5 class="modal-title">Perfil</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="cambioContrasenaForm" >
    <div class="form-group">
      <label for="contrasenaActual">Contraseña Actual</label>
      <input type="password" id="contrasenaActual" formControlName="contrasenaActual" class="form-control">
      <div *ngIf="cambioContrasenaForm.get('contrasenaActual')?.hasError('required') && cambioContrasenaForm.get('contrasenaActual')?.touched" class="text-danger">
        La contraseña actual es requerida.
      </div>
    </div>
    <div class="form-group">
      <label for="nuevaContrasena">Nueva Contraseña</label>
      <input type="password" id="nuevaContrasena" formControlName="nuevaContrasena" class="form-control">
      <div *ngIf="cambioContrasenaForm.get('nuevaContrasena')?.hasError('required') && cambioContrasenaForm.get('nuevaContrasena')?.touched" class="text-danger">
        La nueva contraseña es requerida.
      </div>
      <div *ngIf="cambioContrasenaForm.get('nuevaContrasena')?.hasError('minlength') && cambioContrasenaForm.get('nuevaContrasena')?.touched" class="text-danger">
        La nueva contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmarContrasena">Confirmar Nueva Contraseña</label>
      <input type="password" id="confirmarContrasena" formControlName="confirmarContrasena" class="form-control">
      <div *ngIf="cambioContrasenaForm.get('confirmarContrasena')?.hasError('required') && cambioContrasenaForm.get('confirmarContrasena')?.touched" class="text-danger">
        La confirmación de la nueva contraseña es requerida.
      </div>
      <div *ngIf="cambioContrasenaForm.hasError('mismatch') && cambioContrasenaForm.get('confirmarContrasena')?.touched" class="text-danger">
        Las contraseñas no coinciden.
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cancel click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="cambioContrasenaForm.invalid">Guardar Cambios</button>
 </div>

