<div class="modal-header">
  <h5 class="modal-title">Perfil</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="cambioContrasenaForm" >
    <div class="form-group">
      <label for="contrasenaActual">Contraseña Actual</label>
      <input type="password" id="contrasenaActual" formControlName="contrasenaActual" class="form-control">
    </div>
    <div class="form-group">
      <label for="nuevaContrasena">Nueva Contraseña</label>
      <input type="password" id="nuevaContrasena" formControlName="nuevaContrasena" class="form-control">
    </div>
    <div class="form-group">
      <label for="confirmarContrasena">Confirmar Nueva Contraseña</label>
      <input type="password" id="confirmarContrasena" formControlName="confirmarContrasena" class="form-control">
    </div>
  </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cancel click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar Cambios</button>
 </div>

