<div class="modal-header">
  <h5 class="modal-title">Nuevo Usuario</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
      <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="text-danger">
        Nombre es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Apellidos">
      <div *ngIf="formulario.get('apellidos')?.invalid && formulario.get('apellidos')?.touched" class="text-danger">
        Apellidos son requeridos.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
      <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="text-danger">
        <div *ngIf="formulario.get('email')?.errors?.['required']">Email es requerido.</div>
        <div *ngIf="formulario.get('email')?.errors?.['email']">Email no es válido.</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono:</label>
      <input type="tel" class="form-control" id="telefono" formControlName="telefono" placeholder="Telefono">
      <div *ngIf="formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched" class="text-danger">
        Teléfono es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select class="form-select" id="rol" formControlName="rol">
        <option value="" disabled>Selecciona un rol</option>
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
      </select>
      <div *ngIf="formulario.get('rol')?.invalid && formulario.get('rol')?.touched" class="text-danger">
        Rol es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="clave" class="form-label">Contraseña:</label>
      <div class="input-group">
        <input type="password" class="form-control" id="clave" formControlName="clave" placeholder="Contraseña">
        <button type="button" class="btn btn-secondary" (click)="generarClaveAleatoria()">Generar Contraseña</button>
      </div>
      <div *ngIf="formulario.get('clave')?.invalid && formulario.get('clave')?.touched" class="text-danger">
        Contraseña es requerida.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="residenciaId">Residencia</label>
      <select id="residenciaId" formControlName="residencia" class="form-control" required>
        <option value="" disabled>Selecciona una residencia</option>
        <option *ngFor="let residencia of residencias" [value]="residencia.id">{{ residencia.nombre }}</option>
      </select>
      <div *ngIf="formulario.get('residencia')?.invalid && formulario.get('residencia')?.touched" class="text-danger">
        Residencia es requerida.
      </div>
    </div>
    <div class="mb-3">
      <label for="profileImage" class="form-label">Foto de perfil</label>
      <input type="file" id="profileImage" class="form-control" (change)="onFileSelected($event)">
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close('Close click')">Cerrar</button>
  <button type="button" class="btn btn-success" (click)="onSubmit()">Guardar Usuario</button>
</div>