<div class="modal-header">
  <h5 class="modal-title">Editar Anuncio</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="editAdForm">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo">
    </div>
    <div class="mb-3">
      <label for="contenido" class="form-label">Contenido</label>
      <textarea class="form-control" id="contenido" formControlName="contenido" rows="5"></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="residenciaId">Residencia</label>
      <select id="residenciaId" formControlName="residencia" class="form-control" required>
        <option value="" disabled>Selecciona una residencia</option>
        <option *ngFor="let residencia of residencias" [value]="residencia.id">{{ residencia.nombre }}</option>
      </select>
      <div *ngIf="editAdForm.get('residencia')?.invalid && editAdForm.get('residencia')?.touched" class="text-danger">
        Residencia es requerida.
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success" [disabled]="editAdForm.invalid" (click)="editarAnuncio()">Guardar Cambios</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
